.App-row {
    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    margin-left: 270px; /* Adjusted to align with the sidebar */
    margin-top: 20px;
    width: calc(100% - 270px); /* Adjusted to stretch to the right side */
}

.List {
    border-radius: 24px;
    font-size: medium;
    text-align: center;
    width: 100%; /* Take the full width of the parent container */
    background-color: hsla(0,0%,100%,.1);
    backdrop-filter: blur(2px);
    padding: 20px;
    box-shadow: 0 15px 25px hsla(0,2%,50%,.2);
}

.filters {
    display: flex;
    justify-content: space-between; /* To distribute the space between filters */
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
}

.dateFilter, .aqiFilter {
    display: flex;
    align-items: center;
}

.dateFilter {
    margin-right: 18px;
}

.aqiFilter label {
    margin-right: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF; /* Example color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.table {
    width: 100%;
    overflow-x: auto; /* For horizontal scrolling if the table is too wide */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

tr:hover {
    background-color: lightskyblue;
}

th {
    background-color: #007BFF; /* Example color */
    color: white;
}

.dateFilter input, .aqiFilter input {
    border-radius: 20px; /* Make it even rounder */
    padding: 5px 15px; /* Increased padding for better appearance */
    border: 1px solid #007BFF;
    outline: none;
    transition: box-shadow 0.3s ease; /* Smooth transition for the focus effect */
}

.dateFilter input:focus, .aqiFilter input:focus {
    box-shadow: 0 0 8px #007BFF; /* Enhanced glow when the input is focused */
}
